# Logs
logs/
*.log

# Node modules
node_modules/

# Build output
dist/
dist-ssr/
build/               # Vite build output, ha van

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json  # Megtartja az extensions.json fájlt
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Firebase
.firebaserc              # Firebase projekt konfiguráció
/src/firebase.js         # Ha érzékeny adatokat tartalmaz
src/firebase.js          # Ha érzékeny adatokat tartalmaz
./src/firebase.js        # Ha érzékeny adatokat tartalmaz
firebase.js              # Ha érzékeny adatokat tartalmaz
./firebase.js

# Miscellaneous
Thumbs.db
*.bak

# Operating System files
*.tmp                   # Ideiglenes fájlok

# IDE specific files
*.sublime-project       # Sublime Text projekt fájlok
*.sublime-workspace     # Sublime Text workspace fájlok
*.code-workspace        # VSCode workspace fájlok

# Test coverage
coverage/               # Ha használsz tesztelési keretrendszert, mint pl. Jest

# ESLint cache
.eslintcache             # ESLint gyorsítótár fájl
build/


